@font-face {
    font-family: 'Yandex Sans Display';
    src: url('../fonts/YandexSansDisplay-Regular.eot');
    src: local('Yandex Sans Display Regular'), local('YandexSansDisplay-Regular'),
    url('../fonts/YandexSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YandexSansDisplay-Regular.woff2') format('woff2'),
    url('../fonts/YandexSansDisplay-Regular.woff') format('woff'),
    url('../fonts/YandexSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Display Bold';
    src: url('../fonts/YandexSansDisplay-Bold.eot');
    src: local('Yandex Sans Display Bold'), local('YandexSansDisplay-Bold'),
    url('../fonts/YandexSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YandexSansDisplay-Bold.woff2') format('woff2'),
    url('../fonts/YandexSansDisplay-Bold.woff') format('woff'),
    url('../fonts/YandexSansDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text Light';
    src: url('../fonts/YandexSansText-Light.eot');
    src: local('Yandex Sans Text Light'), local('YandexSansText-Light'),
    url('../fonts/YandexSansText-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YandexSansText-Light.woff2') format('woff2'),
    url('../fonts/YandexSansText-Light.woff') format('woff'),
    url('../fonts/YandexSansText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo-font {
    font-family: 'Yandex Sans Display';
    font-stretch: ultra-condensed;
}

.display-font {
    font-family: 'Yandex Sans Display';
}

.display-font-gray {
    font-family: 'Yandex Sans Display';
    color: #333333;
}

.light-font {
    font-family: 'Yandex Sans Text Light';
}

.light-font-gray {
    font-family: 'Yandex Sans Text Light';
    color: #333333;
}

.red-ya-char {
    color: #FF0000;
    position: relative;
}


.anim-show{
    opacity:0;
    animation: show 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

@keyframes show{
    0%{ opacity:0; }
    100% { opacity:1; }
}

.back {
    background: #FFCC00;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin-left: -700px;
    align-content: center;
    justify-content: center;
}

.parent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.poster {
    display: flex;
    background: #ffffff;
    width: 700px;
    height: 900px;
    position: absolute;
}

.poster:hover+ .poster{
    opacity:1;
    transition: 1s;
}

.text-content-wrapper {
    left: 7%;
    right: 7%;
    width: 86%;
    height: 100%;
    position: relative;
}

.main-logo {
    position: absolute;
    top: 6%;
}

.main-logo-image {
    width: 90px;
}

.image {
    width: 700px;
}

.image-div {
    width: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.course-name {
    position: absolute;
    top: 10%;
    font-size: 300%;
}

.course-description {
    position: absolute;
    top: 28%;
    font-size: 200%;
}

.about-course {
    position: absolute;
    top: 50%;
    font-size: 75%;
}

.left-column {
    padding: 5px;
    float: left;
    width: 45%;
}

.right-column {
    padding: 5px;
    width: 45%;
    float: right;
}

.course-content-list {
    padding-left: 6%;
}

.info-about-meeting {
    position: absolute;
    top: 65%;
    font-size: 75%;
}